extends layout

block layout-content
  div.View
    h1.Banner Welcome inside a an EKS Cluster
    div.Message
      div.Title
        h1 This is an Express App
      div.Description Your request just hit the load balancer that is provided by, and provisioned behind the scenes in AWS when selecting a Service type of "LoadBalancer" in the Kubernetes configuration.
      span.Details That request then got forwarded to a NodePort that is only available inside the cluster, that then forwarded the requests to a ClusterIP service, which then picked a pod, and forwarded your request inside that pod where this app is running in a Docker container and listening on port 8080.
    div.NavButtons
      a(href="/user")
          div.NavButton More on me
